# Node.js dependencies
node_modules/

# Build output
build/
dist/

# Logs and debug files
npm-debug.log

# OS-specific files
.DS_Store
Thumbs.db
._* 

# Environment variables
.env

# Editor settings
.vscode/
.idea/
